/*-----------------------------------------------------------*/
/*-----------------------------------------------------------*/

/* GENERAL */

/*-----------------------------------------------------------*/
/*-----------------------------------------------------------*/

body {
	align-items: left;
	background-color: #FDFDFD;
}

h1 {
	font-family: Work Sans, sans-serif;
	font-weight: 300;
	font-size: 3.75em;
	margin-bottom: 0.4em;
	color: #272727;
}

h2 {
	font-family: Work Sans, sans-serif;
	font-weight: 500;
	font-size: 1.5em;
	color: #272727;
}

p {
	font-family: Open Sans, sans-serif;
	margin-bottom: 0px;
	font-size: 1.1em;
	font-weight: 300;
	color: #272727;
}

a {
	text-decoration: none;
	color: #272727;
}

input {
	width: 100%;
	margin-bottom: 1.3em;
}

input[type="text"], textarea {
	background-color: #F9F8F5;
	border: none;
	border-bottom: 1px solid #cccccc;
	height: 1.75em;
	font-family: Open Sans, sans-serif;
	padding: 0.5em 0em 0.5em 0.5em;
	font-size: 1.1em;
	font-weight: 300;
	}

input[type=text]:focus{
  outline: 3px solid #EB5E28;
  border: none;
}

input[type="submit"], textarea, button {
	background-color: #EB5E28;
	border: none;
	padding: 0.75em;
	height: 2.5em;
	margin-top: 2em;
	font-family: Work Sans, sans-serif;
	font-weight: 400;
	font-size: 1.25em;
	text-decoration: none;
	color: #272727;
}


.quiz {
	margin-left: 5%;
	margin-right: 5%;
	margin-bottom: 5%;
}


.tagline {
	margin-bottom: 2.5em;
}

/*-----------------------------------------------------------*/
/*-----------------------------------------------------------*/

/* NAVBAR */

/*-----------------------------------------------------------*/
/*-----------------------------------------------------------*/

.topnav {
	overflow: hidden;
	display: flex;
	align-items: center;
}

.topnav a {
	float: left;
	color: #272727;
	text-align: center;
	padding: 18px 24px;
	text-decoration: none;
	font-size: 18px;
	vertical-align: middle;
	font-family: 'Open Sans';
	font-weight: 400;
}

.topnav a:hover {
  color: #000;
}

.topnav a img {
    height: auto;
    width: auto;
    max-height: 80px;
    max-width: 160px;
}


/*-----------------------------------------------------------*/
/*-----------------------------------------------------------*/

/* RESULTS PAGE */

/*-----------------------------------------------------------*/
/*-----------------------------------------------------------*/

#results-content {
	margin-left: 5%;
	margin-right: 5%;
}

table {
	width: 100%;
}

th, td {
  padding: 0.1em;
  text-align: left;
}

th {
	font-family: Work Sans, sans-serif;
	font-weight: 500;
	font-size: 1.5em;
}

td {
	font-family: Open Sans, sans-serif;
	margin-bottom: 0px;
	font-size: 1.1em;
	font-weight: 300;
}


/*-----------------------------------------------------------*/
/*-----------------------------------------------------------*/

/* NEW QUESTION PAGE */

/*-----------------------------------------------------------*/
/*-----------------------------------------------------------*/

#new-question {
	margin-left: 5%;
	margin-right: 5%;
}


/*-----------------------------------------------------------*/
/*-----------------------------------------------------------*/

/* EDIT QUIZ PAGE */

/*-----------------------------------------------------------*/
/*-----------------------------------------------------------*/

#remove-question {
	width: 50%;
	margin-left: 25%;
}

#remove-question input[type="submit"] {
	width: 100%;
	background-color: #009FB7;
	color: #f7f7f7;
	font-weight: 300;
	font-size: 1.1em;
}

#edit-question-table, tr, td, th {
	border: 1px solid #ccc;
}

#edit-question-table td {
	font-family: Open Sans, sans-serif;
	margin-bottom: 0px;
	font-size: 1.1em;
	font-weight: 300;
	color: #272727;
}



/*-----------------------------------------------------------*/
/*-----------------------------------------------------------*/

/* QUIZ LIST PAGE */

/*-----------------------------------------------------------*/
/*-----------------------------------------------------------*/

.quiz-list-btn {
	margin-top: 5%;
	margin-bottom: 5%;
	margin-left: 2%;
}

.blue-btn {
	background-color: #009FB7;
}



