{% extends "base.html" %}

{% block head %}

<title>Add new questions</title>

{% endblock %}


{% block body %}

	<div class="quiz">

		<h1>Add new question</h1>
		<p class="tagline">Use the form below to add a new question and answer to your quiz. Don't worry, you can remove it later if you need to.</p>
		
		<form action="/add/{{ quiz_id }}" method="POST">

			<h2>New question:</h2>
		    <input type="text" name="question">

		    <h2>New answer:</h2>
		    <input type="text" name="answer">

		    <input type="submit" value="Add to quiz">

		</form>

	</div>

{% endblock %}