{% extends "base.html" %}

{% block head %}

<title>Success</title>

{% endblock %}


{% block body %}

	<div class="quiz">
		
		<h1>Edit quiz</h1>

		<p class="tagline">Currently, the following questions and answers are in your quiz. Click 'remove' to delete that particular question.</p>

		<table id="edit-question-table">

			<tr>
				<th>Question</th>
				<th>Answer</th>
				<th>Remove?</th>
			</tr>

			{% for question in questions %}

				<tr>
					
					<td>{{ question.question }}</td>
					<td>{{ question.answer }}</td>
					<td>
						
						<form method="POST" action="/delete">

							<input type="hidden" value="{{ question.question }}" name="question">

							<input type="hidden" value="{{ question.quiz_id }}" name="quiz_id">

							<div id="remove-question">
								<input type="submit" value="Remove">
							</div>
						
						</form>

					</td>

				</tr>

			{% endfor %}

		</table>

		<button><a href="/add/{{ quiz_id }}">Add another question</a></button><br>

		<button><a href="/">Return to quiz list</a></button><br>

	</div>

{% endblock %}