{% extends "base.html" %}


{% block head %}

<title>Quiz</title>

{% endblock %}


{% block body %}

<div class="quiz">

	<h1>{{ quiz.name }}</h1>
	<p class="tagline">Test your knowledge with these 5 random questions from your question bank.</p>

	<div id="quiz-body">

		<form action="/results/{{ quiz.id }}" method="POST">

			{% for question in questions %}

				<h2>Question {{ loop.index }}: {{ question.question }}</h2>
				<input type="text" name="{{ question.id }}" autocomplete="off">
				<br>

			{% endfor %}

			<input type="submit" value="Submit">

		</form>

	</div>

</div>

{% endblock %}