{% extends "base.html" %}


{% block head %}

<title>Country Quiz</title>

{% endblock %}


{% block body %}

<div id="quiz">
	<div id="quiz-title">
		<h1>State capital quiz</h1>
	</div>

	<div id="quiz-body">

		<form action="{{ url_for('quiz') }}" method="POST">

			<p>What is the capital of {{q[rand[0]]}}?</p><br>
			<input type="text" name="val1"><br>

			<p>What is the capital of {{q[rand[1]]}}?</p><br>
			<input type="text" name="val2"><br>

			<p>What is the capital of {{q[rand[2]]}}?</p><br>
			<input type="text" name="val3"><br>

			<p>What is the capital of {{q[rand[3]]}}?</p><br>
			<input type="text" name="val4"><br>

			<p>What is the capital of {{q[rand[4]]}}?</p><br>
			<input type="text" name="val5"><br>

			<input type="submit" value="Submit">

		</form>

	</div>

</div>

{% endblock %}