{% extends "base.html" %}

{% block head %}

<title>Quiz List</title>

{% endblock %}

{% block body %}

	<div class="quiz">
		
		<h1>Your Quizzes</h1>

		<table>

			{% for quiz in quizzes %}

				<tr>

					<td>
						<h2>{{ quiz.name }}</h2>
					</td>

					<td>
						<button class="quiz-list-btn blue-btn"><a href="/edit/{{ quiz.id }}">Edit this quiz</a></button>
						<button class="quiz-list-btn"><a href="/play/{{ quiz.id }}">Play this quiz</a></button>
					</td>
								
				</tr>

			{% endfor %}
			

		</table>

		<button><a href="/create">Create new quiz</a></button>

	</div>

{% endblock %}